body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1242px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:562px;
  top:1994px;
  width:134px;
  height:38px;
}
#u21 {
  position:absolute;
  left:2px;
  top:11px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:142px;
  width:1238px;
  height:2058px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:2058px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:142px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:142px;
}
#u24 {
  position:absolute;
  left:2px;
  top:63px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:428px;
}
#u25 {
  position:absolute;
  left:0px;
  top:1776px;
  width:1242px;
  height:428px;
}
#u26 {
  position:absolute;
  left:2px;
  top:206px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:217px;
  top:718px;
  width:848px;
  height:1058px;
  overflow:hidden;
  touch-action:pan-y;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1058px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u29 {
  position:absolute;
  left:2px;
  top:501px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u30 {
  position:absolute;
  left:554px;
  top:1708px;
  width:20px;
  height:20px;
}
#u30_img.selected {
}
#u30.selected {
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:668px;
  top:1708px;
  width:20px;
  height:20px;
}
#u32_img.selected {
}
#u32.selected {
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u34 {
  position:absolute;
  left:554px;
  top:650px;
  width:20px;
  height:20px;
}
#u34_img.selected {
}
#u34.selected {
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u36 {
  position:absolute;
  left:668px;
  top:650px;
  width:20px;
  height:20px;
}
#u36_img.selected {
}
#u36.selected {
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:357px;
  top:1024px;
  width:20px;
  height:20px;
}
#u38_img.selected {
}
#u38.selected {
}
#u38_img.disabled {
}
#u38.disabled {
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:471px;
  top:1024px;
  width:20px;
  height:20px;
}
#u40_img.selected {
}
#u40.selected {
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1058px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u27_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:1018px;
}
#u43 {
  position:absolute;
  left:2px;
  top:501px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:357px;
  top:1024px;
  width:20px;
  height:20px;
}
#u44_img.selected {
}
#u44.selected {
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u46 {
  position:absolute;
  left:471px;
  top:1024px;
  width:20px;
  height:20px;
}
#u46_img.selected {
}
#u46.selected {
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u48 {
  position:absolute;
  left:794px;
  top:0px;
  width:54px;
  height:54px;
}
#u49 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
